<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @vandelay_contact.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @vandelay_contact.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @vandelay_contact.last_name %>
</p>

<p>
  <strong>Address 1 line 1:</strong>
  <%= @vandelay_contact.address_1_line_1 %>
</p>

<p>
  <strong>Address 1 line 2:</strong>
  <%= @vandelay_contact.address_1_line_2 %>
</p>

<p>
  <strong>Address 1 city:</strong>
  <%= @vandelay_contact.address_1_city %>
</p>

<p>
  <strong>Address 1 state:</strong>
  <%= @vandelay_contact.address_1_state %>
</p>

<p>
  <strong>Address 1 zip:</strong>
  <%= @vandelay_contact.address_1_zip %>
</p>

<p>
  <strong>Address 2 line 1:</strong>
  <%= @vandelay_contact.address_2_line_1 %>
</p>

<p>
  <strong>Address 2 line 2:</strong>
  <%= @vandelay_contact.address_2_line_2 %>
</p>

<p>
  <strong>Address 2 city:</strong>
  <%= @vandelay_contact.address_2_city %>
</p>

<p>
  <strong>Address 2 state:</strong>
  <%= @vandelay_contact.address_2_state %>
</p>

<p>
  <strong>Address 2 zip:</strong>
  <%= @vandelay_contact.address_2_zip %>
</p>

<p>
  <strong>Phone 1 number:</strong>
  <%= @vandelay_contact.phone_1_number %>
</p>

<p>
  <strong>Phone 1 type:</strong>
  <%= @vandelay_contact.phone_1_type %>
</p>

<p>
  <strong>Phone 2 number:</strong>
  <%= @vandelay_contact.phone_2_number %>
</p>

<p>
  <strong>Phone 2 type:</strong>
  <%= @vandelay_contact.phone_2_type %>
</p>

<p>
  <strong>Phone 3 number:</strong>
  <%= @vandelay_contact.phone_3_number %>
</p>

<p>
  <strong>Phone 3 type:</strong>
  <%= @vandelay_contact.phone_3_type %>
</p>

<p>
  <strong>License number:</strong>
  <%= @vandelay_contact.license_number %>
</p>

<p>
  <strong>Last update date:</strong>
  <%= @vandelay_contact.last_update_date %>
</p>

<p>
  <strong>Valid license:</strong>
  <%= @vandelay_contact.valid_license %>
</p>

<p>
  <strong>Duplicate license:</strong>
  <%= @vandelay_contact.duplicate_license %>
</p>

<%= link_to 'Edit', edit_vandelay_contact_path(@vandelay_contact) %> |
<%= link_to 'Back', vandelay_contacts_path %>
